<html>
    <head>
    	<title>Summary</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" type="text/css" href="static/css/style.css">
    </head>
    <body>
    	<div class="container">
    		<h1 align="center">Summary of a user</h1>
	        <table border = 1>
		        <thead>
		            <td><b>Joke</td>
		            <td><b>Opinion</td>
		        </thead>
		        <tbody>
		        {% for row in rows %}
		            <tr>
		               <td width="85%">{{row[2]}}</td>
		               <td width="15%">{{row[3]}}</td>
		            </tr>
		        {% endfor %}
		        </tbody>
	      	</table>
	      	<a href = "/">Go back to home page</a>
	    </div>
    </body>
</html>